*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    /* position:relative; */
    overflow: hidden;
}
#myCanvas{
    /* border: 2px solid red; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.colorPallet{
    width: 20rem;
    height: 3rem;
    /* border: 2px solid black; */
}
.colorPallet > div{
    border: 1px solid black;
    background-color: var(--color);
    transition: all 0.5s ease-in-out;
    position: relative;
}
#blackColor{
    transform: translateY(-0.25rem);
    box-shadow: 2px 1px 20px var(--color)
}

.colorPallet > div:active{
    /* transform: translateY(-20px); */
}