*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(51, 51, 117);
}

#mainContainer1{
    height: 70vh;
    border-radius: 10px;
    width: 55vw;
    background-color: rgb(255, 249, 241);
    box-shadow: 3px 3px 50px rgb(0, 0, 0);
}

#mc1_intro{
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(230, 111, 214);
}

.freedom{
    background-color: aqua;
    height: 40vh;
    width: 40vh;
    position: absolute;
    z-index: -1;
    filter: blur(220px);

}

#f2{
    background-color: rgb(21, 255, 0);
    top: 0;
    right: 0;
}

#f3{
    background-color: rgb(255, 0, 200);
    bottom: 0;
    left: 0;
}

#f4{
    background-color: rgb(93, 255, 228);
    bottom: 0;
    right: 0;
}

#submit_button{
margin-left: 10rem;
}
custom{
    color: red;
    font-size: 1.2rem;
}

#you_agree{
    color: red;
}

/* main 2 ----  */
#mainContainer2{
    height: 85vh;
    border-radius: 10px;
    width: 65vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 50px rgb(0, 0, 0);
}

#name_text_box{
    /* text-shadow: 2px 1.5px 20px rgb(96, 120, 230); */
    text-shadow: 2px 1.5px 20px rgb(230, 111, 214), 2px 3px 20px rgb(108, 196, 236);
    font-size: 1.7rem;
    /* width: 10vw; */
    text-align: center;
    font-weight: bold;
}

#back_button{
    font-size: 1rem;
}