*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    /* font-family: Arial, Helvetica, sans-serif; */
}

html{
    font-size: 10px;
}


/* navbar styling  */
header{
    display: flex;
    flex-direction: column;
}
header > div {
    width: 100%;
    text-align: center;
}

#logo{
    background-color: rgb(127, 255, 249);
    padding: 0.25rem;
    letter-spacing: 0.25rem;
}
#logo h1{
    text-shadow: 5px 5px 15px blue;
    font-size: 4rem;
}

#sections{
    border-bottom: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sections > ul{
    display: flex;
    gap: 1rem;
}
#sections > ul li{
    list-style-type: none;
}
#sections > ul > li >a {
    text-decoration: none;
}
#sections > ul > li > a:hover{
    color: red;
    cursor: pointer;
}

/* box model section  */

#boxmodel > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#boxmodel > div > div > div{
    border:2px solid black;
    height: 5rem;
    padding: 2rem;
    background-color: rgb(228, 255, 72);
}

#boxmodel_contentbox{
    box-sizing: content-box;
}

/* flexbox styling  */
#flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 15rem;
    min-width: 20rem;
}
#flex_center > div{
    padding: 5rem;
    border: 2px solid blue;
}

#flex_row{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
    height: 15rem;
    min-width: 20rem;
    gap: 2rem;
}
#flex_row > div{
    padding: 2rem;
    border: 2px solid blue;
}

/* grid styling  */
#grid_1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 15rem;
    min-width: 25rem;
    border: 2px solid black;
    column-gap: 0.5rem;
    row-gap: 0.75rem;
    padding: 1rem;
}

#grid_1 > div{
    border: 2px solid blue;
}

#grid_2{
    display: grid;
    height: 20rem;
    min-width: 25rem;
    gap: 0.5rem;
    padding: 1rem;
    border: 2px solid black;
    grid-template-areas: 'header header header'
        'menu1 main links'
        'footer footer footer';
}
#grid_2 > div{
    border: 2px solid blue;
}
.item1{
    grid-area: header;
}
.item2{
    grid-area: menu1;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: links;
}
.item5{
    grid-area: footer;
}
/* ------------ comman utilites ------------- */
.typography_1{
    font-size: 3rem; 
}
.typography_2{
    font-size: 1.5rem; 
}

.div_sections{
    min-height: 70vh;
    padding: 2rem;
}

pre{
    border: 2px solid black;
}

.common_sec{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 5rem;

}


/* --- media queries --  */
@media (min-width: 726px) {
    html{
        font-size: 16px;
    }

    .common_sec{
        flex-direction: row;
    }
}