/* external css  */

/* header of website  */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 7vw ;
    box-shadow: 2px 1px 50px gray;
}

#logo{
    border: 2px solid grey;
    border-radius: 8px;
    height: 100%;
    width: 17vw;
    overflow: hidden;
}

#logo > img{
    height: 100%;
    width: 100%;
}

nav{
    border: 2px solid red;
    height: 50%;
    width: 20%;
    display: flex;
    gap: 20px;
    border: 2px solid lightgray;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}
nav > a{
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
}
nav > a:hover{
    color: blue;
    text-decoration: underline;
}


/* styling in main division  */
#intro{
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 5vw;
}

#intro > h3 {
    margin-top: 1vh;
    margin-bottom: 5vh;
}

/* form division  */
#ticketbook{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

#formContainer{
    border: 2px solid lightgray;
    padding: 5vh;
}

#formContainer form > div{
    display: flex;
    margin-top: 2vh;
}
#formContainer form > div > div:first-child{
    margin-right: 2vw;
}

#formContainer form > div > div{
    display: flex;
    flex-direction: column;
}

#sex fieldset{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    padding: 1vh;
}

#formButtonContainer{
    display: flex;
    justify-content: space-between;
}
#formButtonContainer > button{
    width: 45%;
    height: 5vh;
    font-size: larger;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}

#formButtonContainer > button:hover{
    border: 2px solid black;
}

#formButtonContainer > button[type="submit"]{
    background: rgb(39, 125, 39);
    color: white;
}
#formButtonContainer > button[type="submit"]:active{
    color: rgb(39, 125, 39);
    background: white;
}
#formButtonContainer > button[type="reset"]{
    background: orangered;
    color: white;
}
#formButtonContainer > button[type="reset"]:active{
    color: orangered;
    background: white;
}
